nav {
  margin: auto;
  border: 2px rgb(197, 197, 197) solid;
  width: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: Helvetica;
  box-shadow: 0px 0px 5px rgb(190, 190, 190);
  text-align: center;
}
main {
  margin: auto;
  border: 2px rgb(197, 197, 197) solid;
  border-top: 2px rgba(197, 197, 197, 0) solid;
  width: 40%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: Helvetica;
  box-shadow: 0px 0px 5px rgb(190, 190, 190);
}
