nav {
  margin: auto;
  border: 2px rgb(197, 197, 197) solid;
  width: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: Helvetica;
  box-shadow: 0px 0px 5px rgb(190, 190, 190);
  text-align: center;
}
main {
  margin: auto;
  border: 2px rgb(197, 197, 197) solid;
  border-top: 2px rgba(197, 197, 197, 0) solid;
  width: 40%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: Helvetica;
  box-shadow: 0px 0px 5px rgb(190, 190, 190);
}
.check {
display: flex;
align-items: center;  
width: 100%;
}
.check_gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left,rgba(197, 197, 197, 0), rgb(197, 197, 197),rgb(197, 197, 197),rgba(197, 197, 197, 0));
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.checkbox {

width: 20%;
display: flex;
  justify-content: center;
  align-items: center;

}
.id_nazwa {
  width: 75%;
padding-left: 5%;

}
.wysokosc {
  width: 50%;
  height: auto;
}